<div class='form-group'>
  <label for="useranme">Username</label>
  {{input type='text' value=username class='form-control input-inverse'}}
</div>
<div class='form-group'>
  <label for="email">Email</label>
  {{input type='text' value=email class='form-control input-inverse'}}
</div>
<button class='btn btn-success btn-block' {{action "create" this}}>
  Create
</button>