<div class='row'>
  <div class='col-lg-2'>
    <ul class='list'>
      {{#each}}
        <li>{{#link-to "user" this}}{{ username }}{{/link-to}}</li>
      {{/each}}
    </ul>
    {{# link-to "users.new" class='btn btn-default btn-block btn-sm'}}New{{/link-to}}
  </div>
  <div class='col-lg-10'>
    {{ outlet }}
  </div>
</div>